<button (click)="sortByAsccending()">正序排列</button>
<button (click)="sortByDesccending()">倒序排列</button>
<button (click)="sortByRadom()">随机打乱</button>
<button (click)="deleteLast()">删除最后一个</button>
<button (click)="saveNewUser()">新增一个</button>

<h3>
产品销售情况表
</h3>
<table border="1" cellspacing="0" > 
  <tbody>
    <tr>
      <th>订单ID </th>
      <th>产品名称 </th>
      <th>客户名称</th>
      <th>订单日期 </th>
      <th>地区 </th>
      <th>销售数量 </th>
      <th>销售金额 </th>
    </tr>
  </tbody>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.index}}</td>
      <td>{{user.name}}</td>
      <td>{{user.name1}}</td>
      <td>{{user.date}} </td>
      <td>{{user.exam1}}</td>
      <td>{{user.exam2}}</td>
      <td>{{user.exam3}}</td>
    </tr>
  </tbody>
</table>
