<p>已选择产品:{{selectProduct.name}}</p>
<div class="table-controls">
    <div class="search-area" style="height:60px;">
      <select [(ngModel)]="searchType" style="float:left;">
        <option value="id">产品ID</option>
        <option value="name">产品名称</option>
      </select>
<input style="float:left;" 
  [(ngModel)]="searchText"/>
<button style="float:left;" (click)="search()">搜索</button>

</div>
<button (click)="sortByAsccending()">正序</button>
<button (click)="sortByDesccending()">倒序</button>
<button (click)="sortByRadom()">随机</button>
<button (click)="deleteLast()">删除</button>
<button routerLink="/product/edit/new">新增</button>
<button (click)="testTempUsers()">TEST</button>
</div>
<div class="row table-header">
      <div class="col-1">选择 </div>
      <div class="col-1" (click)="sortByAsccending('id')">产品ID </div>
      <div class="col-1" (click)="sortByAsccending('name')">产品名称 </div>
      <div class="col-1" (click)="sortByAsccending('modelp')">产品型号 </div>
      <div class="col-1" (click)="sortByAsccending('price')">销售单价 </div>
      <div class="col-1" (click)="sortByDesccending('sumacc')">销售总额 </div>
      <div class="col-1" (click)="sortByDesccending('sumnum')">销售数量 </div>
      <div class="col-1" (click)="sortByDesccending('agent')">代理人 </div>
      <div class="col-2">操作 </div>
</div>
<div class="row table-row" *ngFor="let product of searchResult">
  <app-product-item [product]="product" (productClick)="selectProduct = $event"></app-product-item>
</div>
<div class="row table-row" *ngFor="let product of product">
  <app-product-item [product]="product" (productClick)="selectProduct = $event"></app-product-item>
</div>
